
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'IBM Plex Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'IBM Plex Mono',
    monospace;
}
